{% extends "base.html" %}


{% block main %}
{% raw %}
<div ng-app="ApplianceMarketApp" ng-controller="MainController">
    <h2> Appliances and Electronics</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6" ng-repeat="product in products track by $index" >
            <img ng-src="{{ product }}" style="width:100px; height:100x;" />
        </div>
      </div>
    </div>
</div>
{% endraw %}
{% endblock %}

{% block js %}
<script src="{{ url_for('static',filename='js/angular.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/MainController.js') }}"></script>
{% endblock %}